@model List<UsuarioModel>
@{
    ViewData["Title"] = "Listagem de Usuários";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary"
           asp-controller="Usuario"
           asp-action="Criar"
           role="button">
            Adicionar novo usuário
        </a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4 text-center mb-4">Listagem de Usuários</h1>

    <table class="table" id="table-Usuarios">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Login</th>
                <th>Perfil</th>
                <th>Senha</th>
                <th>Data Cadastro</th>
                <th>Data Atualização</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (UsuarioModel usuario in Model)
                {
                    <tr>
                        <td>@usuario.Id</td>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Perfil</td>
                        <td>@usuario.Senha</td>
                        <td>@usuario.DataCadastro</td>
                        <td>@usuario.DataAtualizacao</td>

                        <td class="text-center">
                            <div class="btn-group">
                                <a class="btn btn-primary"
                                   asp-controller="Usuario"
                                   asp-action="Editar"
                                   asp-route-id="@usuario.Id">
                                    Editar
                                </a>

                                <a class="btn btn-danger"
                                   asp-controller="Usuario"
                                   asp-action="ApagarConfirmacao"
                                   asp-route-id="@usuario.Id">
                                    Apagar
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
