@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="container mt-4">

    <!-- Botão Adicionar -->
    <a class="btn btn-primary mb-3"
       asp-controller="Contato"
       asp-action="Criar">
        Adicionar novo contato
    </a>


    @if(TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>

    }

    @if(TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">X</button>
            @TempData["MensagemErro"]
        </div>
       
    }

    <br />

    
    <!-- Título -->
    <h1 class="display-4 text-center mb-4">Listagem de Contatos</h1>

    <!-- Tabela -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Celular</th>
                <th>Rua</th>
                <th>Nº</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>CEP</th>
                <th class="text-center">Ações</th>
            </tr>
        </thead>

        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (ContatoModel contato in Model)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td>@contato.Rua</td>
                        <td>@contato.Numero</td>
                        <td>@contato.Bairro</td>
                        <td>@contato.Cidade</td>
                        <td>@contato.Estado</td>
                        <td>@contato.Cep</td>
                        <td class="text-center">
                            <div class="btn-group" role="group">
                                <a class="btn btn-primary"
                                   asp-route-id="@contato.Id"
                                   asp-controller="Contato"
                                   asp-action="Editar">
                                    Editar
                                </a>
                                <a class="btn btn-danger"
                                   asp-route-id="@contato.Id"
                                   asp-controller="Contato"
                                   asp-action="ApagarConfirmacao">
                                    Apagar
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
