@model List<ContatoModel>
@{
    ViewData["Title"] = "Listagem de Contatos";
}

<div class="container mt-4">

    <!-- Botão Adicionar -->
    <a class="btn btn-primary mb-3"
       asp-controller="Contato"
       asp-action="Criar">
        Adicionar novo contato
    </a>

    <!-- Título -->
    <h1 class="display-4 text-center mb-4">Listagem de Contatos</h1>

    <!-- Tabela -->
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col">Celular</th>
                <th scope="col" class="text-center">Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Thalison</td>
                <td>Otto@hotmail.com</td>
                <td>81 9397-3496</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-sm btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                        <a class="btn btn-sm btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                    </div>
                </td>
            </tr>

            <tr>
                <th scope="row">2</th>
                <td>Elisa</td>
                <td>Thornton@hotmail.com</td>
                <td>81 99475-3930</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-sm btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                        <a class="btn btn-sm btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                    </div>
                </td>
            </tr>

            <tr>
                <th scope="row">3</th>
                <td>Theo</td>
                <td>Doe@hotmail.com</td>
                <td>81 99898-1295</td>
                <td class="text-center">
                    <div class="btn-group" role="group">
                        <a class="btn btn-sm btn-primary" asp-controller="Contato" asp-action="Editar">Editar</a>
                        <a class="btn btn-sm btn-danger" asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                    </div>
                </td>
            </tr>
            @if (Model != null && Model.Any())
            {
                foreach (ContatoModel contato in Model)
                {
                    <tr>
                        <th scope="row">@contato.Id</th>
                        <td>@contato.Nome</td>
                        <td>@contato.Email</td>
                        <td>@contato.Celular</td>
                        <td
                            class="text-center">
                            <div class="btn-group" role="group">
                                <a role="button" class="btn  btn-primary" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="Editar">Editar</a>
                                <a role="button" class="btn b btn-danger" asp-route-id="@contato.Id" asp-controller="Contato" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>
